[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SPARQLWrapper = "*"
fastapi = "*"
uvicorn = "*"
httpx = "*"
ruff = "*"

[dev-packages]
pytest = "*"
pytest-vcr = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
